﻿.activebranches
{
    font-size: 15px;
    margin: 0px 0px 4px 0px;
    text-align: center;
    color: #369;
}

.firstheader
{
    margin-left: 77px
}

.smallheader{
    font-weight: bold;
    font-size: 12px;
    width: 18%;
    text-align: center;
    margin-bottom: 2px;
    margin-right: 3px;
}

.smallheader2{
    font-weight: bold;
    font-size: 13px;
    width: 20.5%;
    text-align: center;
    margin-bottom: 3px;
    margin-right: 13px;
}

.bigHeader
{
    font-size: 18px;
    width: 70px;
    line-height: 32px;
    text-align: right;
    padding-right: 7px;
    min-height:10px;
}

.totalbox {
    width: 18%;
    font-size: 23px;
    color: white;
    background-color: #218D47;
    text-align: center;
    border: 1px solid #ccc;
    padding: 3px 0px;
    height: 28px;
    line-height: 28px;
    margin-right: 3px;
    -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}

.totalbox2
{
    width: 20%;
    font-size: 22px;
    color: #8D2136;
    text-align: center;
    border: 1px solid #ccc;
    padding: 7px 0px;
    min-height: 22px;
    margin-right: 13px;
    -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}

.afisTotals
{
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.spacetop
{
    margin-top: 5px;
}
