﻿@model IrisDashboards.Models.DashboardModel

@Styles.Render("~/Content/dashboardbundle")

@Scripts.Render("~/bundles/jquery")
<script src="/Scripts/General/libs/flotr2/flotr2.js" type="text/javascript"> </script>
@Scripts.Render("~/bundles/dashboardbundle")
@Scripts.Render("~/bundles/uploaderbundle")


<ul style="padding-left: 20px" id="socketworksdashboard"></ul>

<div id="swactivity" class="multichart">
    <div class="graph">@Html.Partial("DataTemplate", Model.SocketworksMonitor)</div>
</div>

<div id="swtoday" class="multichart">
    <div class="graph">@Html.Partial("SocketWorksHourly", Model.SocketworksToday)</div>
</div>

<div id="swsummary" class="multichart">
    <div class="graph">@Html.Partial("SocketworksSummaryTemplate", Model.SocketworksSummary)</div>
</div>

<div id="PopupInfo" class="PopupWindow">
    <div class="popupinfoinner">
        <div id="headertxt" class="thxHeader textcentered">@Html.Raw(Model.PopupMsg)</div>
        <div class="closeButton closeme">Close</div>
    </div>
</div>

<div id="logviewer" class="PopupWindow Hidden">
    <div class="modal"></div>
    <div class="closebtn closeme">X</div>
    <div class="logviewerinnerdiv"></div>
</div>
