﻿.appbox
{
    margin:10px;
    background-repeat: no-repeat;
    background-position: center bottom 20%;
    background-color: white;
    width: 29%;
    height: 40%;
    min-width: 200px;
    min-height: 200px;
    border: 5px solid #f4f4f4;
    background-size: 50%;
    display: table;
}

.appbox.clickable:hover
{
    border: 5px solid #5EA863;
}

.apptitle
{
    text-align: center;
    font-size: 33px;
    font-weight: bold;
    font-family: IrisUPC;
    color: darkgreen;
    height: 20%;
    display: table-row;
    position: relative;
}

.apptitle div
{
    padding-top: 5px;
}

.appimage
{
    display: table-row;
    position: relative;
}

.appimage div
{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
}

.clickable
{
    cursor: pointer;
}

.outertable
{
    position: absolute;
    height: 100%;
    width: 100%;
}

@media (min-width:320px) 
{ 
   /* smartphones, iPhone, portrait 480x320 phones */
   .apptitle
    {
        font-size: 18px;
        font-family: Calibri;
    }
}

@media (min-width:481px)
{ 
   /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
   .apptitle
    {
        font-size: 18px;
        font-family: Calibri;
    }
}

@media (min-width:641px) 
{ 
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
    .apptitle
    {
        font-size: 22px;
        font-family: Calibri;
    }
}

@media (min-width:961px) 
{
    /* tablet, landscape iPad, lo-res laptops ands desktops */
    .apptitle
    {
        font-size: 22px;
        font-family: Calibri;
    }
}

@media (min-width:1025px) 
{ 
    /* big landscape tablets, laptops, and desktops */ 
    .apptitle
    {
        font-size: 32px;
        font-family: IrisUPC;
    }
}

@media (min-width:1281px) 
{ 
    /* hi-res laptops and desktops */ 
    .apptitle
    {
        font-size: 33px;
        font-family: IrisUPC;
    }
}
