/*** Overall MovingBoxes Slider ***/
.mb-wrapper {
	margin: 0 auto 20px;
	position: relative;
    height: 100%;
	left: 0;
	top: 0;
}

/* Panel Wrapper */
.mb-slider, .mb-scroll {
	width: 100%;
	height: 93%;
	overflow: hidden;
	margin: 0 auto;
	padding: 0;
	position: relative;
	left: 0;
	top: 0;

	/***(>'-')> Control Panel Font size here <('-'<)***/
	font-size: 18px;
}

/* active slider border highlight */
.mb-active-slider {
	border-color: #333;
}

/*** Slider panel ***/
.mb-slider .mb-panel {
	margin: 0;
	padding: 20px;
	display: block;
	cursor: pointer;
	float: left;
	list-style: none;
}

.mb-panel {
    opacity: 0.5;
    filter: alpha(opacity=50);   
}
.mb-panel.current {
    opacity: 1;
    filter: alpha(opacity=100);
}

/* Cursor to arrow over current panel, pointer for all others,
change .current class name using plugin option, currentPanel : 'current' */
.mb-slider .mb-panel.current {
	cursor: auto;
}

/*** Inside the panel ***/


.mb-inside * {
	max-width: 100%;
}

/*** Left & Right Navigation Arrows ***/
a.mb-scrollButtons {
	display: block;
	width: 45px;
	height: 58px;
	background: transparent url(../images/arrows.png) no-repeat;
	position: absolute;
	top: 50%;
	margin-top: -29px; /* if you change the arrow images, you may have to adjust this (1/2 height of arrow image) */
	cursor: pointer;
	text-decoration: none;
	outline: 0;
	border: 0;
}
a.mb-scrollButtons.mb-left {
	background-position: left top;
	left: -45px;
}
a.mb-scrollButtons.mb-right {
	background-position: right top;
	right: -45px;
}
a.mb-scrollButtons.mb-left:hover {
	background-position: left bottom;
}
a.mb-scrollButtons.mb-right:hover {
	background-position: right bottom;
}
a.mb-scrollButtons.disabled {
	display: none;
}

/*** Controls added below the panels ***/
.mb-controls {
	margin: 0 auto;
	text-align: right;
	padding-right: 10px;
	background: #333;
	position: relative;
	z-index: 100;
	border-radius: 4px 4px 4px 4px; 
    -moz-border-radius: 4px 4px 4px 4px; 
    -webkit-border-radius: 4px 4px 4px 4px; 
	-khtml-border-radius:  4px 4px 4px 4px; 
}
.mb-controls a {
	color: #666;
	font: 18px/2.2 Georgia, Serif;
	display: inline-block;
	text-decoration: none;
	padding: 2px;
	margin: 0 5px 0 0;
	text-align: center;
	outline: 0;
}
.mb-controls a:hover {
	color: black;
}
.mb-controls a.current {
	color: white;
}
.mb-active-slider .mb-controls {
	background: #333;
}

.graph, .graph > div, .highcharts-container
{
    height: 500px;
    height: 75vh;
}

.pingdomSummary
{
    height: initial;
    padding-top:3px;
}

.multichart
{
    height: 100%;
}

.multichart .graph, #BigBanksVerificationPieChart_container, #Top4BanksPassportVerificationLine_container, #Top4BanksUserRegistration_container, #OracleCounterGuage_container,
 #AfisActivityPieChart_container, #AfisBranchActivityPieChart_container, #PassportReport_container
{
    height: 100%;
    width: 100%;
}
 
 .multichart .highcharts-container .highcharts-button
 {
    display: none;   
 }

.highcharts-contextmenu div
{
    height: initial;    
}

.graphouter
{
    position: relative;
}

.playbtn
{
    width: 32px;
    height: 40px;
    margin-right: 20px;
    cursor: pointer;
}

.playbtn:hover
{
    opacity: 0.7;    
}

#slider { width: 95%; }
#slider li { width: 75%; }

.gohome
{
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: url(/images/homeicon.png) 0px 0px no-repeat;
}

.gohome:hover
{
	opacity: 0.7;
}

.goleft
{
    background: url(/images/pprev.png) 0px 11px no-repeat;
}

.goright
{
    background: url(/images/nnext.png) 0px 11px no-repeat;
}

.pause
{
    background: url(/images/pause.png) 6px 6px no-repeat;
}

.play
{
    background: url(/images/play.png) 6px 6px no-repeat;
}

.mb-scrollButtons
{
    display: none;   
}

.mb-panel, .mb-inside
{
    height: 95%;
}

 .graphinfodiv
 {
     border: 1px solid #ccc; 
     background-color: White;
     padding: 10px; 
     min-height: 40px; 
     min-width: 50px;
     font-size: 14px;
     max-height: 300px;
     overflow: auto;
 }
 
 .graphheader
 {
    font-size: 14px;
    text-align: center;  
    color: #369;  
 }
 
 .chkbox
 {
    margin: 0px 10px 10x 0px;   
 }
 
 .infobox
 {
     color: #369;
     margin-bottom: 10px;
     font-size: 13px;
     padding-left: 2px;
 }
 
 .Button:hover
 {
    opacity: 0.7;   
 }
 
 .hrclass
 {
    margin-bottom: 5px;   
 }

.limited div[class^="repeaterHeader"]
{
    text-align: center;
    font-size: 12px;
    font-variant: small-caps;
    color: #333;
    height: 22px;
    line-height: 22px;
    font-weight: bold;   
    border-right: 1px solid #ccc;
}


@media (min-width:320px) 
{ 
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
    #sliderdiv, .startSlide, .sDashboardExpand, .sDashboard-icon
    {
        display: none;
    }

    #wrapper
    {
        padding: 0px;
    }

    .header
    {
        margin-top: 0px;
        height: auto;
    }
}

@media (min-width:481px)
{ 
   /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
   
}

@media (min-width:641px) 
{ 
    
}

@media (min-width:961px) 
{
    /* tablet, landscape iPad, lo-res laptops ands desktops */
    #weeklydash .sDashboardExpand, #minipassportviewerwidget .sDashboardExpand
    {
        display: none !important;
    }

    #BankVerificationsColumnChartwidget .sDashboardExpand, #BankVerificationsPieChartwidget .sDashboardExpand, #BankUserRegistrationsColumnChartwidget .sDashboardExpand
    {
        display: block !important;
    }

    #afisactivityDash .sDashboard-circle-plus-icon, #last7daysAvgdash .sDashboard-circle-plus-icon
    {
        display: block !important;
    }

    #afisbranchpiechartDash .sDashboardExpand, #issuedvsenrolledchart .sDashboardExpand
    {
        display: block;
    }

    #weeklydash .sDashboard-circle-plus-icon, #minipassportviewerwidget .sDashboard-circle-plus-icon
    {
        display: block;
    }

    #weeklydash .sDashboardExpand, #minipassportviewerwidget .sDashboardExpand
    {
        display: none !important;
    }

    #BankVerificationsColumnChartwidget .sDashboardExpand, #BankVerificationsPieChartwidget .sDashboardExpand, #BankUserRegistrationsColumnChartwidget .sDashboardExpand
    {
        display: block !important;
    }
}

@media (min-width:1025px) 
{ 
    /* big landscape tablets, laptops, and desktops */ 
     .sDashboard
    {
        overflow: hidden;
    }

    .sDashboard li
    {
        width: 32.92%;
        height: 48.5%;
        margin-bottom: 5px;
    }

    .sDashboardWidgetHeader {
        font-size: 13px;
    }

    #wrapper
    {
        bottom: 0;
    }

    #sliderdiv, .startSlide
    {
        display: block;
    }

    footer {
        height: 30px !important;
    }

    .header
    {
        margin-top: -70px;
        height: 47px;
    }

    #wrapper
    {
        padding: 70px 0px 8px 0px;
    }
}

@media (min-width:1281px) 
{ 
    /* hi-res laptops and desktops */ 
    
}

