﻿
.status,.table .bar .label {
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none
}
.wide-container-outer {
	margin-top: 112px;
	background: #fff;
	background: -webkit-linear-gradient(to top,#e3e3e3,#fff 200px);
	background: -moz-linear-gradient(to top,#e3e3e3,#fff 200px);
	background: linear-gradient(to top,#e3e3e3,#fff 200px);
	padding-bottom: 200px
}
.wide-container-inner {
	overflow: hidden
}
.wide-footer {
	border-radius: .5em .5em 0 0;
	border: 1px solid #e0e0e0;
	border-bottom: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-top: 5em;
	padding: 1em;
	position: relative
}
.wide-footer: after,.wide-footer: before {
	background: -webkit-linear-gradient(to bottom,#e0e0e0,#fff 100%);
	background: -moz-linear-gradient(to bottom,#e0e0e0,#fff 100%);
	background: linear-gradient(to bottom,#e0e0e0,#fff 100%);
	width: 1px;
	position: absolute;
	bottom: -20px;
	height: 20px;
	content: ''
}
.wide-footer: before {
	left: -1px
}
.wide-footer: after {
	right: -1px
}
.colorpicker {
	width: 300px;
	height: 220px;
	overflow: hidden;
	position: absolute;
	font-family: Helvetica,Arial,Verdana,sans-serif;
	display: none;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	box-shadow: 0 8px 80px rgba(0,0,0,.6);
	-webkit-box-shadow: 0 8px 80px rgba(0,0,0,.6);
	-moz-box-shadow: 0 8px 80px rgba(0,0,0,.6);
	background: #ebebeb url(/images/colorpicker/colorpicker_background.png?b120) no-repeat;
	z-index: 200
}
.colorpicker .smallButton {
	position: absolute;
	bottom: 10px;
	right: 10px
}
.colorpicker_color {
	width: 150px;
	height: 150px;
	top: 13px;
	position: absolute;
	background: red;
	overflow: hidden;
	cursor: crosshair;
	left: 14px
}
.colorpicker_color div {
	position: absolute;
	top: 0;
	left: 0;
	width: 150px;
	height: 150px;
	background: url(/images/colorpicker/colorpicker_overlay.png?b120)
}
.colorpicker_color div div {
	position: absolute;
	top: 0;
	left: 0;
	width: 13px;
	height: 13px;
	overflow: hidden;
	background: url(/images/colorpicker/colorpicker_select.png?b120);
	margin: -7px 0 0 -6px
}
.colorpicker_hue {
	position: absolute;
	top: 13px;
	left: 171px;
	width: 35px;
	height: 150px;
	cursor: n-resize
}
.colorpicker_hue div {
	position: absolute;
	width: 35px;
	height: 9px;
	overflow: hidden;
	background: url(/images/colorpicker/colorpicker_indic.png?b120) no-repeat;
	margin: -5px 0 0
}
.colorpicker_new_color {
	position: absolute;
	width: 60px;
	height: 28px;
	top: 13px;
	background: red;
	right: 15px
}
.colorpicker_current_color {
	position: absolute;
	width: 60px;
	height: 30px;
	left: 283px;
	top: 13px;
	background: red;
	display: none
}
.colorpicker input {
	position: absolute;
	text-align: right;
	margin: 0;
	padding: 0 4px 0 0;
	height: 22px;
	right: 0;
	width: 30px;
	top: 0
}
.colorpicker_hex {
	position: absolute;
	width: 73px;
	height: 22px;
	left: 212px;
	top: 139px
}
.colorpicker_hex input {
	right: 0;
	width: 56px
}
.colorpicker_field {
	height: 23px;
	width: 73px;
	position: absolute
}
.colorpicker_field h4 {
	position: absolute;
	left: 21px;
	top: 2px
}
.colorpicker_field span {
	position: absolute;
	width: 12px;
	height: 22px;
	overflow: hidden;
	top: 0;
	right: 0;
	cursor: n-resize;
	display: none
}
.colorpicker_rgb_r {
	top: 48px;
	left: 212px
}
.colorpicker_hex h4 {
	position: absolute;
	top: 1px;
	left: -2px
}
.colorpicker_rgb_g {
	top: 78px;
	left: 212px
}
.colorpicker_rgb_b {
	top: 108px;
	left: 212px
}
.colorpicker_hsb_h {
	top: 52px;
	left: 282px;
	display: none
}
.colorpicker_hsb_s {
	top: 82px;
	left: 282px;
	display: none
}
.colorpicker_hsb_b {
	top: 112px;
	left: 282px;
	display: none
}
.colorpicker_submit {
	position: absolute;
	overflow: hidden;
	display: none
}
.colorpicker_focus {
	background-position: center
}
.colorpicker_hex.colorpicker_focus,.colorpicker_slider,.colorpicker_submit.colorpicker_focus {
	background-position: bottom
}
.smallButton {
	width: 110px;
	height: 34px;
	line-height: 34px;
	font-size: 12px;
	text-align: center;
	float: left;
	text-shadow: #fff 0 1px 0;
	text-decoration: none;
	color: #000;
	display: block;
	background: url(/images/foundation.png?b120) 0 -452px;
	border: none;
	padding: 0
}
.smallButton.default {
	background-position: -110px -452px;
	text-shadow: #feec9b 0 1px 0
}
.smallButton:active.default {
	background-position: -110px -486px
}
.smallButton:active {
	background-position: 0 -486px
}
.smallButton.smallText {
	font-size: 10px
}
a.calendar,a.deleteSmall,a.first,a.last,a.new,a.newSmall,a.next,a.previous,span.deleteSmall {
	width: 36px;
	height: 36px;
	font-size: 1px;
	text-indent: -9000px;
	background: #fff url(/images/pingdomimgs.png)
}
.delete.disabled,.newSmall.disabled,a.calendar.disabled,a.first.disabled,a.last.disabled,a.new.disabled,a.next.disabled,a.previous.disabled {
	opacity: .6;
	filter: alpha(opacity=60);
	-ms-filter: “ progid: DXImageTransform . Microsoft . Alpha(Opacity=60) ”;
	cursor: default
}
a.start {
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	width: 85px;
	height: 34px;
	float: left;
	color: #000;
	text-decoration: none;
	text-shadow: none;
	font-size: 12px;
	line-height: 35px;
	background: url(/images/pingdomimgs.png) 0 -1420px;
	text-indent: 35px
}
a:active.start {
	background-position: 0 -1454px
}
a.new,a:active.new.disabled {
	background-position: 0 -795px
}
a:active.new {
	background-position: -36px -795px
}
a.previous,a:active.previous.disabled {
	background-position: 0 -831px
}
a:active.previous {
	background-position: -36px -831px
}
a.next,a:active.next.disabled {
	background-position: 0 -867px
}
a:active.next {
	background-position: -36px -867px
}
a.calendar,a:active.calendar.disabled {
	background: url(/images/pingdomimgs.png) -72px -795px;
	width: 35px;
	height: 35px
}
a.calendar.pressed,a:active.calendar {
	background-position: -107px -795px;
	width: 35px;
	height: 35px
}
a.first,a:active.first.disabled {
	background-position: 0 -903px
}
a:active.first {
	background-position: -36px -903px
}
a.last,a:active.last.disabled {
	background-position: 0 -939px
}
a:active.last {
	background-position: -36px -939px
}
a.newSmall,a:active.newSmall.disabled {
	width: 29px;
	height: 29px;
	float: right;
	margin-right: 19px;
	background: url(/images/pingdomimgs.png) -149px -528px
}
a:active.newSmall {
	background-position: -149px -557px
}
#reset_ua {
	background: url(/images/iconsSmall.png?b120) -50px 0;
	width: 17px;
	height: 17px;
	margin-top: 5px;
	margin-right: -48px;
	float: right
}
a.deleteSmall,a:active.deleteSmall.disabled {
	width: 29px;
	height: 29px;
	float: left;
	background: url(/images/pingdomimgs.png) -178px -528px
}
a:active.deleteSmall {
	background-position: -178px -557px
}
.table .bar {
	width: 100%;
	color: #fff;
	height: 44px;
	line-height: 44px;
	z-index: 3;
	float: left;
	position: relative
}
.table .bar .left {
	width: 12px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	background: url(/images/pingdomimgs.png) 0 -1452px
}
.table .bar .middle {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 12px;
	right: 12px;
	z-index: 1;
	background: url(/images/pingdomimgs.png) 0 -1400px
}
.table .bar .right {
	width: 12px;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: 1;
	background: url(/images/pingdomimgs.png) -12px -1452px
}
.table .bar .spinner {
	position: absolute;
	right: 14px;
	top: 14px;
	z-index: 3
}
.table .bar .label {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	white-space: nowrap;
	padding: 0 14px;
	position: relative;
	z-index: 2
}
.table .bar .label .arrow {
	padding-right: 14px
}
.table .bar .label .arrow.down {
	padding-right: 14px;
	background: url(/images/pingdomimgs.png) right -794px
}
.table .bar .label .arrow.up {
	padding-right: 14px;
	background: url(/images/pingdomimgs.png) right -883px
}
th.bulb {
	font-size: 1px;
	text-indent: -9000px
}
th.bulb .triangle {
	background: url(/images/pingdomimgs.png) -264px -1279px;
	height: 12px;
	width: 6px
}
th.bulb .triangle.down {
	background: url(/images/pingdomimgs.png) right -794px
}
th.bulb .triangle.up {
	background: url(/images/pingdomimgs.png) right -883px
}
td .button {
	width: 27px;
	height: 27px;
	font-size: 0;
	text-indent: -999em
}
tr a.pause {
	background: url(/images/pingdomimgs.png) 0 -1284px
}
tr.hover a.pause,tr:hover a.pause {
	background-position: 0 -1313px
}
tr.hover a:active.pause,tr:hover a:active.pause {
	background-position: 0 -1342px
}
tr.paused .button.pause {
	display: none
}
tr a.start {
	background: url(/images/pingdomimgs.png) -29px -1284px;
	display: none
}
tr.hover a.start,tr:hover a.start {
	background-position: -29px -1313px
}
tr.hover a:active.start,tr:hover a:active.start {
	background-position: -29px -1342px
}
tr.paused .button.start {
	display: block
}
#deleteCoupon.delete {
	font-size: 0;
	width: 29px;
	height: 29px;
	display: none
}
#deleteCoupon.delete,form a.delete,tr a.delete {
	background: url(/images/pingdomimgs.png) -87px -1284px
}
tr a.delete.pressed,tr.hover a.delete.pressed {
	background: url(/images/pingdomimgs.png) -87px -1371px
}
tr:hover a.delete.pressed {
	background-position: -87px -1371px
}
tr:hover a.delete,tr:hover a:active.delete.disabled {
	background-position: -87px -1313px
}
tr.hover a.delete,tr:hover a:active.delete {
	background-position: -87px -1342px
}
tr a.detailedLog {
	display: inline-block;
	vertical-align: top;
	width: 29px;
	height: 29px;
	font-size: 0;
	text-indent: -999em;
	background: url(/images/pingdomimgs.png) -111px -1452px
}
tr:hover a.detailedLog,tr:hover a:active.detailedLog {
	background-position: -111px -1510px
}
#responseTimeDateRangeTable {
	clear: both
}
td .responseTime-icon,td .uptime-icon {
	display: inline-block;
	width: 11px;
	height: 11px;
	font-size: 0;
	text-indent: -999em;
	vertical-align: baseline
}
td .responseTime-icon {
	background: url(/images/pingdomimgs.png) 11px -1460px
}
td .uptime-icon {
	background: url(/images/pingdomimgs.png) 11px -1481px
}
tr a.cancel {
	width: 29px;
	height: 29px;
	font-size: 1px;
	text-indent: -9000px;
	float: left;
	margin-top: 8px;
	background: url(/images/pingdomimgs.png) -116px -1284px
}
tr:hover a.cancel.pressed {
	background-position: -116px -1371px
}
tr:hover a.cancel,tr:hover a:active.cancel {
	background-position: -116px -1342px
}
tr a.error {
	display: inline-block;
	vertical-align: top;
	width: 29px;
	height: 29px;
	font-size: 0;
	text-indent: -999em;
	background: url(/images/pingdomimgs.png) -174px -1284px
}
tr:hover a.error {
	background-position: -174px -1314px
}
tr.hover a.error,tr:hover a:active.error {
	background-position: -174px -1342px
}
tr a.erroranalysis {
	display: inline-block;
	vertical-align: top;
	width: 29px;
	height: 29px;
	font-size: 0;
	text-indent: -999em;
	background: url(/images/pingdomimgs.png) -24px -1452px
}
tr:hover a.erroranalysis,tr:hover a:active.erroranalysis {
	background-position: -24px -1510px
}
.row a.erroranalysis,td a.erroranalysis {
	margin-top: 0
}
#table_liveview td a.erroranalysis {
	float: right
}
.row a.log {
	width: 29px;
	height: 29px;
	font-size: 1px;
	text-indent: -9000px;
	float: left;
	background: url(/images/pingdomimgs.png) -145px -1284px
}
.row.hover a.log.pressed {
	background-position: -145px -1371px
}
.row:hover a.log {
	background-position: -145px -1313px
}
.row.hover a.log,.row:hover a:active.log {
	background-position: -145px -1342px
}
.table .noResult {
	width: 100%;
	height: 46px;
	line-height: 46px;
	border-bottom: 1px solid #e1e1e1;
	margin-top: -1px;
	border-top: 1px solid #e1e1e1;
	float: left;
	position: relative;
	z-index: 1;
	background-color: #fff;
	text-indent: 20px
}
.table .row {
	width: 100%;
	height: 40px;
	line-height: 38px;
	border-bottom: 1px solid #e1e1e1;
	margin-top: -1px;
	border-top: 1px solid #e1e1e1;
	float: left;
	position: relative;
	z-index: 1;
	background-color: #fff
}
.table .row a {
	font-family: HelveticaNeueW01-75Bold,HelveticaNeueW01-55Roma,"Helevetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 400
}
.table .row.disabled {
	color: #9d9f9f
}
.table .rows {
	width: 100%;
	float: left
}
.table .row.alt {
	background: #f4f4f4 url(/images/pingdomimgs.png) repeat-x 0 -1051px
}

.table .row .label {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	border-right: 1px solid #ebebeb;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 0 14px;
	white-space: nowrap;
	padding-bottom: 2px
}
.table .row.alt .label {
	border-right: 1px solid #e5e5e5
}
.table .label span.hidden {
	display: none
}
.table .label.last {
	border-right-style: none;
	text-align: right
}
.table .row .label.noBorder {
	border-right-style: none;
	margin-right: 1px
}
.dt tbody tr.alert-message:hover {
	background: 0 0
}
tr.alert-message .message {
	white-space: normal
}
table tr.overdue {
	background-color: #fdede9!important;
	color: #ff4311!important
}
table .overdue {
	color: #ff4311;
	font-family: HelveticaNeueW01-75Bold,HelveticaNeueW01-55Roma,"Helevetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 400
}
table tr.paid {
	color: #999!important
}
.table .control {
	height: 36px;
	margin-top: 16px;
	width: 100%;
	float: left
}
.table .control .perPage {
	max-width: 50%;
	float: left;
	height: 36px
}
.table .control .perPage span {
	float: left;
	line-height: 36px;
	margin-right: 4px;
	margin-left: 4px;
	font-size: 12px
}
.table .control .pagination {
	max-width: 50%;
	float: right;
	height: 38px
}
.table .control .pagination span {
	float: left;
	line-height: 36px;
	font-size: 12px;
	margin-left: 4px;
	margin-right: 4px;
	text-align: center
}

#statisticsPart {
	float: left;
	width:  100%;
	padding-bottom: 5px
}
#statisticsPart p.space {
	margin-bottom: 12px
}
#statisticsPart h3 {
	font-size: 23px;
	text-shadow: #fff 0 1px 0;
    font-weight: normal;
    margin:10px;
}
#statisticsPart .columnOne {
	float: left;
	width: 33%;
	text-align: center;
	padding-bottom: 10px;
	padding-top: 0px;
	border-right: 1px solid #dcdcdc
}
#statisticsPart .columnTwo {
	float: left;
	width: 33%;
	text-align: center;
	border-right: 1px solid #dcdcdc;
	padding-top: 0px;
	padding-bottom: 10px
}
#statisticsPart .columnThree {
	float: left;
	width: 33%;
	text-align: center;
	padding-top: 0px;
	padding-bottom: 10px
}
#statusHistoryTable {
	clear: both;
	font-size: 11px;
    border: none;
}
#statusHistoryTable td,#statusHistoryTable th {
	padding: 7px 0 7px 10px
}
#statusHistoryTable .last {
	padding: 4px 0 0 4px
}

.dataTables_wrapper {
	clear: both;
	position: relative;
	z-index: 3
}
.dataTables_wrapper .dataTables_length label {
	line-height: 34px
}
.dataTables_wrapper .dataTables_length label .selectWrapper {
	display: inline-block;
	margin-right: 10px
}

table.dt {
	border-collapse: collapse;
	behavior: url(/css/PIE.htc?b120);
	border-radius: 10px;
	font-size: 13px;
	position: relative;
	zoom: 1;
	table-layout: fixed
}

strong{
    font-size: 14px;
    font-weight: 400;
    color: #369;
}

.dt thead {
	color: #fff
}
.invoiceSpecTable .dt thead th {
	background-color: #333
}
.dt tbody {
	background-color: #fff;
	color: #000
}
.dt tr:nth-child(even) {
	background-color: #eee
}
.dt tr {
	border-bottom: 1px solid #dfdfdf
}
.dt th {
	font-weight: 400;
	text-align: left
}
.table-header-dark {
	background: url(/images/pingdomimgs.png) #000;
	color: #fff
}
.table-header-dark: first-child {
	-webkit-border-top-left-radius: 10px;
	-moz-border-top-left-radius: 10px;
	border-top-left-radius: 10px
}
.table-header-dark: last-child {
	-webkit-border-top-right-radius: 10px;
	-moz-border-top-right-radius: 10px;
	border-top-right-radius: 10px
}
.table-group {
	background: -webkit-linear-gradient(top,#f8f8f8,#e5e5e5);
	background: -moz-linear-gradient(top,#f8f8f8,#e5e5e5);
	background: linear-gradient(to bottom,#f8f8f8,#e5e5e5);
	border-top: 1px solid #fff;
	border-bottom: 1px solid #c2c2c2;
	color: #333;
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
	font-family: HelveticaNeueW01-75Bold,HelveticaNeueW01-55Roma,"Helevetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 400;
	line-height: 2.3em;
	padding-left: 1.5em
}
.dt tr.updnew {
	background-color: #ffc;
	border-bottom: 1px solid #e7e7b4
}
.dt tr.updnew td {
	border-right: 1px solid #e7e7b4
}
.dt td {
	border-right: 1px solid #dfdfdf
}
.dataTables_empty,.dt td.last {
	border-right: none!important;
	overflow: visible
}
.dt td,.dt th {
	padding: 14px 0 14px 14px;
	white-space: nowrap;
	vertical-align: middle;
	overflow: hidden;
	text-overflow: ellipsis
}
.dt a {
	font-family: HelveticaNeueW01-75Bold,HelveticaNeueW01-55Roma,"Helevetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 400;
	color: #353535;
	text-decoration: underline
}
.dt a:hover {
	color: #676767
}
.sorting,.sorting_asc,.sorting_desc {
	cursor: pointer
}
.dt tr.last3 {
	opacity: .6
}
.dt tr.last2 {
	opacity: .4;
	border-bottom: 1px solid #f5f5f5
}
.dt tr.last2 td {
	border-right: 1px solid #f5f5f5
}
.dt tr.last1 {
	opacity: .1;
	border-bottom: 1px solid #f9f9f9
}
.dt tr.last1 td {
	border-right: 1px solid #f9f9f9
}
.dt .triangle {
	font-size: 10px
}
.paginate_button {
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle
}
.dataTables_length {
	float: left
}
.dataTables_paginate {
	text-align: right;
	font-size: 12px;
	font-family: HelveticaNeueW01-75Bold,HelveticaNeueW01-55Roma,"Helevetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 400;
	color: #464646
}
.dataTables_filter {
	text-align: right;
	position: relative;
	top: -40px;
	right: 0;
	height: 0
}
.dataTables_filter label {
	float: none;
	margin: 0
}
.dataTables_filter input {
	width: 154px;
	height: 26px;
	border-style: none;
	padding-left: 26px;
	margin-right: 10px;
	background: url(/images/foundation.png?b120) 0 -396px
}
.dataTables_filter input: focus {
	background: url(/images/foundation.png?b120) 0 -424px
}
.dataTables_searchClear {
	display: none;
	background: url(/images/pingdomimgs.png) -72px -528px transparent no-repeat;
	cursor: pointer;
	height: 14px;
	position: absolute;
	right: 18px;
	top: 7px;
	width: 14px
}
.dataTables_processing {
	height: 36px;
	float: right;
	display: none;
	padding-left: 20px;
	background: url(/images/loader.gif?b120) no-repeat
}
.dt+.fg-toolbar {
	height: 40px
}
.dt td.table-numbers,.dt th.table-numbers,.table-numbers {
	text-align: right;
	padding-right: 14px
}
.table-header-minimal {
	background-color: #cfcfcf;
	background-image: -o-linear-gradient(bottom,#cfcfcf 40%,#e6e6e6 100%);
	background-image: -moz-linear-gradient(bottom,#cfcfcf 40%,#e6e6e6 100%);
	background-image: -webkit-linear-gradient(bottom,#cfcfcf 40%,#e6e6e6 100%);
	background-image: -ms-linear-gradient(bottom,#cfcfcf 40%,#e6e6e6 100%);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.4,#cfcfcf),color-stop(1,#e6e6e6));
	background-image: linear-gradient(bottom,#cfcfcf 40%,#e6e6e6 100%)
}
.table-header-minimal-active {
	background-color: #e6e6e6;
	background-image: -o-linear-gradient(bottom,#e6e6e6 40%,#cfcfcf 100%);
	background-image: -moz-linear-gradient(bottom,#e6e6e6 40%,#cfcfcf 100%);
	background-image: -webkit-linear-gradient(bottom,#e6e6e6 40%,#cfcfcf 100%);
	background-image: -ms-linear-gradient(bottom,#e6e6e6 40%,#cfcfcf 100%);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.4,#e6e6e6),color-stop(1,#cfcfcf));
	background-image: linear-gradient(bottom,#e6e6e6 40%,#cfcfcf 100%)
}
.table-header-minimal th {
	padding: 0;
	color: #949494;
	font: 9px/13px Helvetica,Arial,Verdana,sans-serif;
	text-align: right;
	border-right: 1px solid #C8C8C8;
	padding-right: 14px
}
.table-header-minimal th.right_end {
	border: 0
}
.table-header-minimal .ascsort {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 4px 6.9px;
	border-color: transparent transparent #949494;
	position: relative;
	padding-bottom: 3px;
	margin-right: -11px;
	margin-left: 3px;
	float: right
}
.table-header-minimal .descsort {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 6.9px 4px 0;
	border-color: #949494 transparent transparent;
	position: relative;
	margin-top: 3px;
	margin-right: -11px;
	margin-left: 3px;
	float: right
}
.table-header-minimal .ascsort_small {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 2.5px 4.3px;
	border-color: transparent transparent #949494;
	position: relative;
	margin-bottom: 1px;
	margin-right: -28px;
	margin-left: 5px
}
.table-header-minimal .descsort_small {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 4.3px 2.5px 0;
	border-color: #949494 transparent transparent;
	position: relative;
	margin-top: 1px;
	margin-right: -28px;
	margin-left: 5px
}
.table-header-minimal .ascdescsort {
	float: right;
	padding-top: 2px
}
td.table-row-empty {
	border-right: none
}
table.withtabs {
	width: 100%;
	margin: 0;
	background: #e3e3e3 url(/images/pingdomimgs.png) 0 -1686px;
	-webkit-border-radius: 0;
	-khtml-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	table-layout: auto
}
table.withtabs th {
	text-shadow: #fff 0 1px 0;
	color: #000;
	border-bottom: 1px solid #c2c2c2
}
table.withtabs td,table.withtabs th {
	padding: 14px
}
table.nolines td {
	border-right: none
}
table.nolines tbody tr td,table.nolines tbody tr th {
	padding: 14px 0 14px 14px
}
td.urlname {
	white-space: normal
}
#overviewPart .urlname {
	max-width: 126px;
	min-width: 126px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}
td.urlname span {
	font-size: 9px;
	line-height: 9px;
	color: #666
}
td.urlname span.checkname {
	font-size: inherit;
	line-height: inherit;
	color: inherit
}
td.graph {
	font-size: 11px
}
td.graph .data {
	display: none
}
#checkTable,#contactTable,#recipeTable {
	margin-top: 0
}
.tabletabs {
	clear: both;
	height: 52px;
	background: #eee;
	background: -webkit-gradient(linear,0 0,0 100%,from(#eee),to(#ccc));
	background: -webkit-linear-gradient(top,#eee,#ccc);
	background: -moz-linear-gradient(top,#eee,#ccc);
	background: -ms-linear-gradient(top,#eee,#ccc);
	background: -o-linear-gradient(top,#eee,#ccc);
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	behavior: url(/css/PIE.htc?b120)
}
.tabletabs p {
	float: right;
	color: #666;
	margin-right: 15px;
	font-size: 10px;
	line-height: 52px
}
.tabletabs ul {
	margin-left: 15px
}
.tabletabs li {
	height: 38px;
	margin: 14px 2px 0 0
}
.tabletabs li a {
	float: left;
	display: block;
	background-color: #ccc;
	border-radius: 9px 9px 0 0;
	-webkit-box-shadow: inset 0 2px 3px #b7b7b7;
	-moz-box-shadow: inset 0 2px 3px #b7b7b7;
	box-shadow: inset 0 2px 3px #b7b7b7;
	height: 38px;
	color: #666;
	line-height: 38px;
	text-decoration: none;
	padding: 0 20px;
	text-shadow: #eee 0 1px 0
}
.tabletabs li.active {
	height: 38px;
	margin: 14px 2px 0 0
}
.tabletabs li.active a {
	background-color: #f8f8f8;
	color: #000;
	text-shadow: #fff 0 1px 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none
}
.responsetime-graph,.uptime-graph {
	float: left
}
.checkbubble {
	color: #fff;
	font-size: 10px;
	font-style: normal;
	padding: 2px 4px 1px;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	text-shadow: 0 1px 0 rgba(0,0,0,.4);
	-moz-text-shadow: 0 1px 0 rgba(0,0,0,.4);
	-webkit-text-shadow: 0 1px 0 rgba(0,0,0,.4);
	box-shadow: 0 1px 1px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,.2);
	-webkitbox-shadow: 0 1px 1px rgba(0,0,0,.2)
}
.checkbubble.up {
	background: url(../images/pingdomimgs.png) 0 -1900px repeat-x #3cb74c;
	border: 1px solid #2f883a
}
.checkbubble.down {
	background: url(../images/pingdomimgs.png) 0 -1933px repeat-x #ff4311;
	border: 1px solid #bc3027
}
.checkbubble.paused {
	color: #999;
	text-shadow: 0 1px 0 rgba(0,0,0,.08);
	-moz-text-shadow: 0 1px 0 rgba(0,0,0,.08);
	-webkit-text-shadow: 0 1px 0 rgba(0,0,0,.08);
	background: #FFF;
	border: 1px solid #F0F0F0
}
.checkbubble.count {
	background-color: #fff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0 -1px #D2D2D2;
	-moz-box-shadow: 0 -1px #d2d2d2;
	box-shadow: 0 -1px #D2D2D2;
	color: #666;
	float: right;
	font-family: HelveticaNeueW01-75Bold,HelveticaNeueW01-55Roma,"Helevetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 400;
	line-height: 17px;
	margin: 7px 21px 0 0;
	padding: 0 10px;
	text-indent: 0;
	-webkit-text-shadow: 0 1px 0 rgba(0,0,0,.08);
	-moz-text-shadow: 0 1px 0 rgba(0,0,0,.08);
	text-shadow: 0 1px 0 rgba(0,0,0,.08)
}
.redbubble {
	background: #ff4311;
	color: #fff;
	font-size: 9px;
	font-style: normal;
	padding: 3px 5px;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	margin-left: 5px;
	text-shadow: #cc360e 0 -1px 0
}
.greenbubble {
	background: #3cb74c;
	color: #fff;
	font-size: 9px;
	font-style: normal;
	padding: 3px 5px;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	margin-left: 5px;
	text-shadow: #30923d 0 -1px 0
}
.greybubble {
	background: #999;
	color: #fff;
	font-size: 9px;
	font-style: normal;
	padding: 3px 5px;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	margin-left: 5px;
	text-shadow: #777 0 -1px 0
}
a.bubble {
	background: #ccc;
	color: #fff;
	font-size: 16px;
	padding: 3px 8px;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	text-shadow: #aaa 0 -1px 0;
	text-decoration: none
}
a.bubble:hover {
	background: #999;
	color: #fff;
	font-size: 16px;
	padding: 3px 8px;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	text-shadow: #777 0 -1px 0;
	text-decoration: none;
	-moz-box-shadow: 0 0 5px #ccc;
	-webkit-box-shadow: 0 0 5px #ccc;
	box-shadow: 0 0 5px #ccc
}
.row a.edit,tr a.edit {
	width: 29px;
	height: 29px;
	font-size: 1px;
	text-indent: -9000px;
	float: left;
	margin-top: 8px;
	background: url(../images/pingdomimgs.png) -58px -1284px
}
.row a.delete {
	width: 29px;
	height: 29px;
	font-size: 1px;
	text-indent: -9000px;
	float: left;
	margin-top: 8px;
	background: url(../images/pingdomimgs.png) -87px -1284px
}
.row.hover a.edit,.row:hover a.edit,tr.hover a.edit,tr:hover a.edit {
	background-position: -58px -1313px
}
.row.hover a.delete,.row:hover a.delete,tr.hover a.delete,tr:hover a.delete {
	background-position: -87px -1342px
}
.row.hover a:active.edit,.row:hover a:active.edit,tr.hover a:active.edit,tr:hover a:active.edit {
	background-position: -58px -1342px
}
.row a.dropdown,a.dropdown.on,tr a.dropdown {
	width: 29px;
	height: 29px;
	font-size: 1px;
	text-indent: -9000px;
	float: left;
	margin-top: 8px;
	background: url(../images/pingdomimgs.png) -169px -1452px
}

.row.hover a.dropdown,.row:hover a.dropdown,tr.hover a.dropdown,tr:hover a.dropdown {
	background-position: -169px -1481px
}
.row.hover a:active.dropdown,.row:hover a:active.dropdown,a.dropdown.on,tr.hover a:active.dropdown,tr:hover a:active.dropdown {
	background-position: -169px -1510px
}
.tablehead {
	height: 50px;
	background: #e3e3e3 url(../images/pingdomimgs.png) 0 -1686px;
	border-bottom: 1px solid #c2c2c2
}
.tablehead .searchFieldtWrapper {
	float: right;
	margin: 10px 15px 0 0
}
.tablehead .lastHours {
	float: right;
	margin: 16px 16px 0 0;
	color: #353535
}
.tablehead .buttongroup {
	margin: 10px 0 0 15px;
	float: left
}
.tablehead .comboboxWrapper {
	margin: 11px 10px 0 0
}
.tablehead .autocomplete {
	width: 120px
}
table.dt tr a.delete,table.dt tr a.dropdown,table.dt tr a.edit,table.dt tr a.pause,table.dt tr a.start {
	margin: 0
}
.tablehead-filters {
	float: right
}
.tablehead-filters-label {
	color: #666;
	line-height: 42px
}

.table-header-dark:first-child{
    -webkit-border-top-left-radius:10px;
    -moz-border-top-left-radius:10px;
    border-top-left-radius:10px
}

.table-header-dark:last-child{
    -webkit-border-top-right-radius:10px;
    -moz-border-top-right-radius:10px;
    border-top-right-radius:10px
}

.table-group{
    background:-webkit-linear-gradient(top,#f8f8f8,#e5e5e5);
    background:-moz-linear-gradient(top,#f8f8f8,#e5e5e5);
    background:linear-gradient(to bottom,#f8f8f8,#e5e5e5);
    border-top:1px solid #fff;
    border-bottom:1px solid #c2c2c2;
    color:#333;
    font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-family:HelveticaNeueW01-75Bold,HelveticaNeueW01-55Roma,"Helevetica Neue",Helvetica,Arial,sans-serif;
    font-weight:400;
    line-height:2.3em;
    padding-left:1.5em
}

#statusHistoryTable thead th, #statusHistoryTable td { text-align: left; font-size: 12px; }
#DataTemplteTable thead th, #DataTemplteTable td { text-align: left; font-size: 13px; padding: 5px 0px 5px 10px }
.status{
    width:22px;
    height:22px;
    background-image:url(/images/pingdomimgs.png);
    font-size:0;
    text-indent:-999em;
    display:inline-block;
    vertical-align:middle
}

.status.marg{
    margin-right:10px
}

.statusLarge{
    width:44px;
    height:44px;
    background-image:url(/images/pingdomimgs.png);
    font-size:1px;
    text-indent:-9000px;
    float:left
}
.statusLarge.up{
    background-repeat:no-repeat;
    background-position:0 -703px
}

.statusLarge.down{
    background-repeat:no-repeat;
    background-position:-44px -703px
}

.statusLarge.error{
    background-repeat:no-repeat;
    background-position:-88px -703px
}

.status.UP,.status.up{
    background-repeat:no-repeat;
    background-position:-38px -528px
}

.status.DOWN,.status.down{
    background-repeat:no-repeat;
    background-position:-38px -550px
}

.status.unconfirmed,.status.unconfirmed_down,.status.unknown{
    background-repeat:no-repeat;
    background-position:-38px -572px
}

.status.paused,tr.paused .status{
    background-repeat:no-repeat;
    background-position:-38px -594px
}
