﻿@using IrisDashboards_Common
@using IrisDashboards.Helpers
@model List<BankReport>

<style>
    .repeater { font-size: inherit }
</style>
<div>
    @if (Model.Count == 0)
    {
        <div class="table">
            <div class="noreportsfound">No passports viewed today</div>
        </div>
    }
    else
    {
        <div>
            <div id="resultPart" class="innerBox light">
                <div id="statusHistoryTable_wrapper" class="dataTables_wrapper" role="grid">
                    <table id="MiniPassportTable" class="dt withHover dataTable">
                        <colgroup>
                            <col width="18%">
                            <col width="26%">
                            <col width="40%">
                            <col width="16%">
                            <col>
                        </colgroup>
                        <thead>
                            <tr role="row">
                                <th class="table-header-dark sorting_disabled" role="columnheader" rowspan="1" colspan="1"><span class="bulb"></span>Doc No</th>
                                <th style="text-align: left;" class="table-header-dark sorting_desc" role="columnheader" tabindex="0" rowspan="1" colspan="1">Surname</th>
                                <th style="text-align: left;" class="table-header-dark sorting_disabled sorting_disabled" role="columnheader" rowspan="1" colspan="1">Bank</th>
                                <th style="text-align: left;" class="table-header-dark sorting" role="columnheader" tabindex="0" rowspan="1" colspan="1">Response</th>
                            </tr>
                        </thead>

                        <tbody role="alert" aria-live="polite" aria-relevant="all">
                            @for (int i = 0; i < Model.Count; i++)
                            {
                                BankReport report = Model[i];
                                <tr class="@(i % 2 == 0 ? "even" : "odd")">
                                    <td>@report.InputDocNo</td>
                                    <td class="alignleft">@Helper.ToFirstLetterUpper(report.InputSurname)</td>
                                    <td class="alignleft" title="@report.BranchName">@report.BankName (@Helper.ToFirstLetterUpperSentence(report.BranchName))</td>
                                    @if (string.IsNullOrEmpty(report.Response))
                                    {
                                        <td style="border-right: none" class="clickresponse" onclick='ShowPassportPreview("@(report.InputDocNo)")'>View</td>
                                    }
                                    else
                                    {
                                        <td style="border-right: none" class="invalid" title="@report.Response">Invalid</td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    
         <div id="ppinfodiv" class="PopupWindow Hidden">
            <div class="modal"></div>
            <div class="popupinnerdiv"></div>
        </div>
    }
</div>