﻿@model IrisDashboards.Models.SummaryTotalInfo

<div class="centeredtableouter">
    <div class="afisTotals centeredtableinner">
        <div style="margin-top:-20px; padding-left: 10%;">
            <div class="">
                <div class="left nibsssmallheader">Total Today</div>
                <div class="left nibsssmallheader">Total This Week</div>
                <div class="clear"></div>
            </div>
            <div>
                <div id="totaltoday" class="left nibsstotalbox">@Model.TotalToday.ToString("N0")</div>
                <div class="left nibsstotalbox">@Model.TotalThisWeek.ToString("N0")</div>
                <div class="clear"></div>
            </div>

            <div class="nibssspacetop">
                <div class="left nibsssmallheader">Total This Month</div>
                <div class="left nibsssmallheader">Total This Year</div>
                <div class="clear"></div>
            </div>
            <div>
                <div class="left nibsstotalbox">@Model.TotalThismonth.ToString("N0")</div>
                <div class="left nibsstotalbox">@Model.TotalThisYear.ToString("N0")</div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>
