﻿@model IrisDashboards.Models.DashboardModel

@Styles.Render("~/Content/dashboardbundle")
@Styles.Render("~/Content/summarystyles")

@Scripts.Render("~/bundles/jquery")
<script src="/Scripts/General/libs/flotr2/flotr2.js" type="text/javascript"> </script>
@Scripts.Render("~/bundles/dashboardbundle")
@Scripts.Render("~/bundles/nibssbundle")

<div id="multiviewdiv" style="height: 100%;">
    <div class="modal"></div>
    <ul id="Dashboard"></ul>

    @Html.Hidden("WeeklyData", Model.WeeklyData.TableData)
    @Html.Hidden("WeeklyDataColumns", Model.WeeklyData.TableColumns)

    <div id="BankVerificationsColumnChart" data-slidernum="1" class="multichart">
        @Html.Partial("_ChartTemplate", Model.BankVerificationsColumnChart)
    </div>

    <div id="BankVerificationsPieChart" data-slidernum="3" class="multichart">
        @Html.Partial("_PieChartTemplate", Model.BankVerificationsPieChart, new ViewDataDictionary { { "Colors", ViewBag.BankColors } })
    </div>

    <div id="BankUserRegistrationsColumnChart" data-slidernum="2" class="multichart">
        @Html.Partial("_ChartTemplate", Model.BankUserRegistrationsColumnChart)
    </div>

    <div id="minipassportviewer">
        @Html.Partial("_MiniPassportReport", Model.ViewedPassportsBank)
    </div>

    <div id="nibsssummary">
        @Html.Partial("_SummaryTemplate", Model.SummaryTotalInfo)
    </div>
</div>

<div id="sliderdiv" style="height: 100%; visibility: hidden">
    @Html.Partial("_SliderPanel", Model)
</div>

<div id="PopupInfo" class="PopupWindow">
    <div class="popupinfoinner">
        <div id="headertxt" class="thxHeader textcentered">@Html.Raw(Model.PopupMsg)</div>
        <div class="button closeme">Close</div>
    </div>
</div>