﻿@model IrisDashboards.Models.DataTemplateInfo
<div class="pingdomSummary">
    <div id="resultPart" class="innerBox light">
        <div class="datediv">
            
        </div>
        <div id="statusHistoryTable_wrapper" class="dataTables_wrapper" role="grid">
            <div class="fixedheader">
                <table id="DataTemplteTable" class="dt withHover dataTable">
                    <colgroup>
                        <col width="34%">
                        <col width="11%">
                        <col width="11%">
                        <col width="11%">
                        <col width="11%">
                        <col width="11%">
                        <col width="11%">
                        <col>
                    </colgroup>

                    <thead>
                        <tr role="row">
                            <th class="table-header-dark sorting_disabled" role="columnheader" rowspan="1" colspan="1"><span class="bulb"></span>@Model.Header1</th>
                            <th class="table-header-dark sorting_desc" role="columnheader" tabindex="0" rowspan="1" colspan="1">@Model.Header2</th>
                            <th class="table-header-dark sorting_disabled sorting_disabled" role="columnheader" rowspan="1" colspan="1">@Model.Header3</th>
                            <th class="table-header-dark sorting" role="columnheader" tabindex="0" rowspan="1" colspan="1">@Model.Header4</th>
                            <th class="table-header-dark sorting" role="columnheader" tabindex="0" rowspan="1" colspan="1">@Model.Header5</th>
                            <th class="table-header-dark sorting" role="columnheader" tabindex="0" rowspan="1" colspan="1">@Model.Header6</th>
                            <th class="table-header-dark sorting" role="columnheader" tabindex="0" rowspan="1" colspan="1">@Model.Header7</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="fixedheadertable">
                <table id="DataTemplteTable" class="dt withHover dataTable">
                    <colgroup>
                        <col width="34%">
                        <col width="11%">
                        <col width="11%">
                        <col width="11%">
                        <col width="11%">
                        <col width="11%">
                        <col width="11%">
                        <col>
                    </colgroup>
                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                        @for (int i = 0; i < Model.DataItems.Count; i++)
                        {
                            <tr title="@(!string.IsNullOrEmpty(Model.DataItems[i].ErrorMessage) ? Model.DataItems[i].ErrorMessage : "")" style="@(!string.IsNullOrEmpty(Model.DataItems[i].ErrorMessage) ? "background-color: #FF7F7F" : "");@(Model.DataItems[i].IsBold ? "font-weight: bold" : "");@(Model.DataItems[i].FontSize != 0 ? "font-size: " + Model.DataItems[i].FontSize + "px" : "")" class="@(i % 2 == 0 ? "even" : "odd")">
                                <td style="text-align: left">@Model.DataItems[i].Item1</td>
                                <td style="@(Model.NumberOfCols == 8 || Model.NumberOfCols == 6 ? "color: #00990F" : "color: #333333"); font-weight: bold; @(string.IsNullOrEmpty(Model.DataItems[i].Item3) ? "border-right:none;" : "")" class=" sorting_1">@Model.DataItems[i].Item2</td>
                                <td style="@(Model.NumberOfCols == 8 ? "color: #8D2136" : "color: #333333"); font-weight: bold; @(string.IsNullOrEmpty(Model.DataItems[i].Item4) ? "border-right:none;" : "")" class="">@Model.DataItems[i].Item3</td>
                                <td style="@(string.IsNullOrEmpty(Model.DataItems[i].Item5) ? "border-right:none;" : "")">@Model.DataItems[i].Item4</td>
                                <td style="@(string.IsNullOrEmpty(Model.DataItems[i].Item6) ? "border-right:none;" : "");">@Model.DataItems[i].Item5</td>
                                <td style="@(Model.NumberOfCols == 6 ? "color: #336699;font-weight: bold;" : "")@(Model.NumberOfCols == 7 ? "color: #00990F; font-weight: bold;" : ""); @(string.IsNullOrEmpty(Model.DataItems[i].Item7) ? "border-right:none;" : "")">@Model.DataItems[i].Item6</td>
                                <td style="@(Model.NumberOfCols == 7 ? "color: #4283C4; font-weight: bold;" : "color: #333333"); @(string.IsNullOrEmpty(Model.DataItems[i].Item8) ? "border-right:none;" : "")">@Model.DataItems[i].Item7</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
