﻿@model IrisDashboards.Models.DashboardModel

@Styles.Render("~/Content/dashboardbundle")
@Styles.Render("~/Content/summarystyles")

@Scripts.Render("~/bundles/jquery")
<script src="/Scripts/General/libs/flotr2/flotr2.js" type="text/javascript"> </script>
@Scripts.Render("~/bundles/dashboardbundle")
@Scripts.Render("~/bundles/passportbundle")

<div id="multiviewdiv" style="height: 100%;">
    <div class="modal"></div>
    <ul id="Dashboard"></ul>
    
    <div id="afisactivity">
        @Html.Partial("_DataTemplateAfisActivity", Model.AfisMonitor)
    </div>

    <div id="last7daysAvg">
        @Html.Partial("_DataTemplate", Model.Last7DaysActivity)
    </div>

    <div id="branchactivitypiechart" class="multichart" data-slidernum="2">
        @Html.Partial("_PieChartTemplate", Model.PassportAfisBranchActivityPieChart, new ViewDataDictionary { { "Colors", ViewBag.BranchColors } })
    </div>

    <div id="afissummary">
        @Html.Partial("_SummaryTemplate", Model.Summary)
    </div>

    <div id="issuedvsenrolled" class="multichart" data-slidernum="1">
        @Html.Partial("_ChartTemplate", Model.PassportEnrolledVsIssuedColumnChart)
    </div>
</div>

<div id="sliderdiv" style="height: 100%; visibility: hidden">
    @Html.Partial("_SliderPanel", Model)
</div>

<div id="PopupInfo" class="PopupWindow">
    <div class="popupinfoinner">
        <div id="headertxt" class="thxHeader textcentered">@Html.Raw(Model.PopupMsg)</div>
        <div class="button closeme">Close</div>
    </div>
</div>