﻿@model IrisDashboards.Models.DashboardModel

@Styles.Render("~/Content/dashboardbundle")

@Scripts.Render("~/bundles/jquery")
<script src="/Scripts/General/libs/flotr2/flotr2.js" type="text/javascript"> </script>
@Scripts.Render("~/bundles/dashboardbundle")
@Scripts.Render("~/bundles/uploaderbundle")

<ul id="uploaderdashboard"></ul>

<div id="branchstatuslocal">
    @Html.Partial("_DataTemplate", Model.BranchViewer)
</div>

<div id="branchstatusforeign">
    @Html.Partial("_DataTemplate", Model.BranchViewerForeign)
</div>

<div id="PopupInfo" class="PopupWindow">
    <div class="popupinfoinner">
        <div id="headertxt" class="thxHeader textcentered">@Html.Raw(Model.PopupMsg)</div>
        <div class="closeButton closeme">Close</div>
    </div>
</div>

<div id="logviewer" style="height: 600px; width: 700px; overflow-y: hidden" class="PopupWindow Hidden">
    <div class="modal"></div>
    <div class="closebtn closeme">X</div>
    <div style="max-height: 600px; overflow-y: auto" class="logviewerinnerdiv"></div>
</div>
