﻿<!DOCTYPE html>

<html lang="en" style="overflow: hidden">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="pragma" content="no-cache" />
    <title>Iris Dashboards</title>
    @Styles.Render("~/Content/master")
   
</head>
<body  id="wrapper">
    <header class="header relative">
        <a href="/"><div class="irislogosmall left"></div></a>
        <div class="logosmall left">Iris Dashboards</div>
        <div class="pageheader">@ViewBag.Header</div>
        @if (ViewBag.ShowRefresh == 1)
        {
            <div class="startSlide hoverfade right"></div>
        }
        <div class="clear"></div>
    </header>

    <div id="content2" style="width: auto;">
        @RenderSection("featured", required: false)
        <section class="main-content clear-fix" style="height: 100%; position: relative">
            @RenderBody()
        </section>
    </div>

    <footer>
        <div class="footernote">©@(DateTime.Now.Year) - Iris Smart Technologies Ltd</div>
    </footer>
    @RenderSection("scripts", required: false)
</body>
</html>
