﻿@model IrisDashboards_Common.Report

<div class="closebtn closeme">X</div>
<div class="reportFace left">
    <img id="faceimg" width="195" height="260" alt="" src="data:image/png;base64,@System.Convert.ToBase64String(Model.FaceImage)" />
</div>
<div style="width: 130px" class="left">
    <div class="infoline">
        <div class="labelleft">Firstname:</div>
        <div class="labelright"> @IrisDashboards_Common.Helper.Helper.ToFirstLetterUpper(Model.FirstName.ToLower())</div>
    </div>
    <div class="infoline">
        <div class="labelleft">Surname:</div>
        <div class="labelright"> @IrisDashboards_Common.Helper.Helper.ToFirstLetterUpper(Model.Surname.ToLower())</div>
    </div>
    <div class="infoline">
        <div class="labelleft">Gender:</div>
        <div class="labelright"> @(Model.Sex == "F" ? "Female" : "Male")</div>
    </div>
    <div class="infoline">
        <div class="labelleft">StageCode:</div>
        <div class="labelright"> @Model.Stage_Code</div>
    </div>
    <div class="infoline">
        <div class="labelleft">Date Of Birth:</div>
        <div class="labelright"> @(Model.DOB.ToString("dd/MM/yyyy"))</div>
    </div>
</div>
<div class="clear"></div>
