﻿#totalverificationsInner
{
    height: 70%; 
    width: 100%; 
    padding-top: 12%;
}

.nointernetmsg
{
    text-align: center; 
    line-height: 250px; 
    font-size: 16px; 
    font-weight: bold; 
    color: #666
}