﻿@Styles.Render("~/Content/homepage")

@{
    ViewBag.Title = "Applications";
}

<div id="appsdiv" class="outertable">
    <div class="modal"></div>
    @for (int i = 0; i < ViewBag.Dashboards.Count; i++)
    {
        <div class="appbox shadow left clickable" onclick="document.getElementById('link@(ViewBag.Dashboards[i].DashboardName)').click()" style="background-image: url(/images/icons/@ViewBag.Dashboards[i].DashboardIcon);">
            <div class="apptitle">@ViewBag.Dashboards[i].DashboardName</div>
        </div>
        <a target="_blank" class="left" id="link@(ViewBag.Dashboards[i].DashboardName)" href="@(ViewBag.Dashboards[i].DashboardLink)"></a>
    }
    <div class="clear"></div>
</div>
